.center {
    text-align: center;
}

h3 {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-image: linear-gradient(purple, black);
    /*background-color: black;*/
    color: white;
    height: 100vh;
}

button {
    background-color: limegreen;
}

.song-results {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td,tr {
    padding: 5px;
}