.center {
    text-align: center;
}

h3 {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

td {
    text-align: center;
}

body {
  font-family: Roboto, Times, sans-serif;
    background-image: linear-gradient(purple, black);
    color: white;
}