.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-image: linear-gradient(purple, black);
    height: 100vh;
    color: white;
}


.song-data {
    margin-left: 35%;
    font-size: large;
}

ul {
    list-style: none;
}

.energy {
    margin-left: 54px;
}

.danceability {
    margin-left: 13px;
}

.liveness {
    margin-left: 42px;
}

.valence {
    margin-left: 47px;
}

.acoustics {
    margin-left: 36px;
}

.speechiness {
    margin-left: 10px;
}

.popularity {
    margin-left: 33px;
}